{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>miniTweet {% block title %} {% endblock %}</title>

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}"

  </head>
  <body>
    {% if request.user.is_authenticated %}
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="{% url 'home' %}">miniTweet</a>
        </div>
        <ul class="nav navbar-nav">
          <form action="{% url 'tweet:search' %}" method='GET' class='navbar-form navbar-left'>
            <div class="form-group">
            <input class='form-control'type="text" name="q" placeholder="Search">
            </div>
            <input class='btn btn-primary'type="submit" value ='Search'>
          </form>
        </ul>
        {% if request.user.is_authenticated %}
        <span class='nav navbar-nav pull-right'>
        <li><a href="{% url 'logout' %}">Logout</a></li>
      </span>
        {% endif %}
      </div><!-- /.container-fluid -->
    </nav>
    {% endif %}
    <div class="container">
      {% block content %}
      <h1>Hello World</h1>
      {% endblock %}
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    {% block script %} {% endblock %}
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
